<div>
    <nav>
        <ul class="flex justify-center">
            <li class="mx-3"><a routerLink="/">Home</a></li>
            <li class="mx-3"><a routerLink="/about">About</a></li>
            <li class="mx-3"><a routerLink="/contact">Contact</a></li>
        </ul>
    </nav>
    
    <nav>
        <ul class="flex justify-end">
            <li class="mx-3"><a routerLink="/signIn">Sign in</a></li>
            <li class="mx-3"><a routerLink="/login">Login</a></li>
        </ul>
    </nav>
</div>
